.fewd-btn,
.personalproj-btn,
.nonprofits-btn  {
    background-color: #1A4314;
    color: #B2D2A4;

    a {
        text-decoration: none;
        color: hsl(102, 34%, 73%);
    }
   
}

.fewd-btn:hover,
.personalproj-btn:hover,
.nonprofits-btn:hover {
    background-color: #B2D2A4;
    color: #1A4314;
   
    a {
        text-decoration: none;
        color: #1A4314;
    }
}

.btnhover {
    background-color: #B2D2A4;
    color: #1A4314;
}

.modal-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        padding-top: 10%;
        font-size: 1.3em;
        line-height: .92em;
        // justify-self: flex-end;
    }
    button {
        min-width: 100%;
        min-height: 100%;
    }
}

// .mainpage-btn {
//     // width: 30%;
//     // height: 22%;
//     overflow: hidden;

//     svg {
//         padding: 14px;
//         margin: auto;
//     }
// }

.mainpage-btn {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    // justify-items: space-between;
    
    p {
        justify-self: flex-end;
        // min-height: 30%;
    }
    }
    
.personalproj-btn,
.fewd-btn,
.nonprofits-btn {
    height: 100%;
    width: 100%;
    padding: 24px;
    margin: 0px;
    // border-radius: 50%;
}

.treesvg,
.rabbitsvg,
.smallworld {
    overflow: hidden;
}

