.fewd-btn,
.personalproj-btn,
.nonprofits-btn  {
    background-color: #1A4314;
    color: #B2D2A4;

    a {
        text-decoration: none;
        color: hsl(102, 34%, 73%);
    }
   
}

.fewd-btn:hover,
.personalproj-btn:hover,
.nonprofits-btn:hover {
    background-color: #B2D2A4;
    color: #1A4314;
   
    a {
        text-decoration: none;
        color: #1A4314;
    }
}

.btnhover {
    background-color: #B2D2A4;
    color: #1A4314;
}

.modal-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        padding-top: 10%;
        font-size: 1.3em;
        line-height: .92em;

    }
    button {
        min-width: 100%;
        min-height: 100%;
    }
}

.mainpage-btn {

    
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    margin: 10px 0;

    @media (min-width: 768px) {
        padding: 20px 10px 0;
        }


p {
    justify-self: flex-end;
    padding-top: 25px;
    text-align: center;
    font-size: 0.85rem;
    margin-top: auto;

    @media (min-width: 768px) {
        font-size: 1.3em;
        line-height: 1.3;
      }
    }

svg {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    }
}