// retest using js

.maincontainer {
    // position: absolute;
    // width: 250px;
    // height: 320px;
    background: pink;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

.card {
    position: relative;
    // width: 100%;
    // height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.front {
    position: absolute;
    // width: 100%;
    // height: 100%;
    backface-visibility: hidden;
    background: yellow;
    color: black;
    text-align: center;
}

.back {
    position: absolute;
    // width: 100%;
    // height: 100%;
    backface-visibility: hidden;
    background: purple;
    color: white;
    text-align: center;
    transform: rotateY(180deg);
}

.flipcard {
    transform: rotateY(180deg);
}

// my previous code

// 

// end my previous code 


// .avatar {
//     border-radius: 50%;
//     padding: 1em;
//     background-color: $searchbar-color;
// }

// .text-container {
//     padding-left: 30px;
//     background-color: $searchbar-color;

//     p {
//         color: $base-font-color;
//         line-height: .8em;
//     }

//     h2 {
//         color: $base-font-color;
//     }
// }

// .name,
// .email,
// .address,
// .phone,
// .birthday,
// .avatar,
// .modal-content,
// .modal-close {
//     background-color: $searchbar-color;
// }